<!-- UI Input Component -->
<input @props(['id' => null, 'type' => 'text', 'class' => '', 'placeholder' => '', 'value' => ''])
  id="{{ id }}"
  type="{{ type }}"
  class="input {{ class }}"
  placeholder="{{ placeholder }}"
  value="{{ value }}"
/>

